<body>
<section class="home">

  <app-navbar></app-navbar>

  <div class="head">
    <div class="header">
      <div class="title">
        <h1>O-<br>MO-<br>KA-<br>GE</h1>
      </div>
      <div class="subtitle">
        <p>a memory, a trace, a shadow, a <b>vestige</b> <br>or a presentation to the mind in the <br> form of an idea
          or
          image, of something or <br>someone that no longer exists.
          <br><br>
          'Omo' means <b>face, mask</b>.
          <br>
          'Kage' means <b>shadow, silhouette</b>.
          <br><br>
          as things change, they cease to be,<br>
          and I am now different from what i used to be.
        </p>
      </div>
    </div>

    <div class="header-image">
      <img src="assets/VERTEXARCHIVE/1_003.gif">
    </div>
  </div>


  <!--  <div class="content">-->
  <!--    <div class="card">-->
  <!--      <img src="assets/VERTEXARCHIVE/gify.gif" alt="">-->
  <!--    </div>-->

  <!--    <div class="text">-->
  <!--      <p>◞↺৲↺৻ʅ↺</p>-->
  <!--    </div>-->
  <!--  </div>-->

</section>
</body>
