@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz@1,6..96&display=swap');

.home {
  display: block;

  .head {
    font-family: 'Bodoni Moda', serif;
  }
}

@media only screen and (max-width: 1117px) {
  .home {
    max-width: 100vw;
    margin: 0;

    .head {
      margin-top: 50px;
      margin-bottom: 120px;
      display: flex;
      flex-direction: row;
      width: auto;
      justify-content: center;


      .header {
        display: block;
        position: absolute;
        align-items: center;

        .title {
          h1 {
            font-weight: inherit;
            margin: 0;
            z-index: -9999;
          }

          margin: 50px 0;
        }

        .subtitle {
          padding: 0;
          width: 80vw;
          text-align: right;
          font-size: 20px;
          z-index: 999;
        }
      }

      .header-image {
        opacity: 0.3;

        img {
          max-width: 500px;
          width: 100%;
          height: auto;
        }
      }


    }

    //.content {
    //  margin-bottom: 100px;
    //  padding: 10px;
    //
    //  height: 1024px;
    //  max-height: 1024px;
    //
    //  justify-content: space-evenly;
    //  justify-items: center;
    //  align-content: space-evenly;
    //  align-items: center;
    //
    //  display: grid;
    //  grid-template-columns: 2fr 2fr;
    //
    //  .card {
    //    width: 100%;
    //    text-align: center;
    //    display: flex;
    //    justify-content: space-evenly;
    //
    //    img {
    //      height: 100%;
    //      width: auto;
    //      max-height: 500px;
    //    }
    //  }
    //
    //  .text {
    //    text-align: left;
    //  }
    //}

  }

}


@media only screen and (min-width: 1117px) {

  .home {
    max-width: 100%;
    margin: 0 40px;
  }


  .head {
    margin-top: 120px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: row;
    height: 100%;
    max-height: 720px;
    overflow: hidden;

    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      width: 50vw;
      padding-left: 140px;

      .title, .subtitle {
        h1 {
          font-weight: inherit;
          margin: 0;
          z-index: -9999;
        }

        font-weight: 500;
        font-size: 55px;
        font-style: italic;

        margin: 50px 0;
      }

      .subtitle {
        padding: 0;
        text-align: right;
        font-size: 20px;
        z-index: 1;
      }
    }

    .header-image {
      img {
        max-width: 500px;
      }
    }
  }

  //.content {
  //  margin-bottom: 100px;
  //  padding: 10px;
  //
  //  height: 1024px;
  //  max-height: 1024px;
  //
  //  justify-content: space-evenly;
  //  justify-items: center;
  //  align-content: space-evenly;
  //  align-items: center;
  //
  //  display: grid;
  //  grid-template-columns: 2fr 2fr;
  //
  //  .card {
  //    width: 100%;
  //    max-width: 25vw;
  //    text-align: center;
  //    display: flex;
  //    justify-content: space-evenly;
  //
  //
  //    img {
  //      height: 100%;
  //      width: auto;
  //      max-height: 500px;
  //    }
  //  }
  //
  //  .text {
  //    background: whitesmoke;
  //    text-align: left;
  //  }
  //}
}

